body{
    background-image: linear-gradient(to right, #d16ba5, #86a8e7,#5ffbf1);
}
h1{
    text-align:center;
    padding: 20px;
    font-size:30px;
    color:var(--text-color);
    user-select:none;
}
.shade-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    min-height:100vh;
    background:url('image/flatColorBackground.jpg');
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-repeat:no-repeat;
    background-size: 90%;
    background-position:center;
}
h1{
    font-size:3.6rem;
    font-weight:bold;
    margin-bottom:20px;
}
input[type="color"]{
    width:50%;
    font-weight:bold;
    height:40px;
    margin-bottom:20px;
    
}
#shades{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    width:100%;
}
.shade{
    width:100px;
    height:100px;
    border-radius:5px;
    margin:10px;
}
#shades-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
max-width: 800px;
margin: 0 auto;
}
/* span{
    display:flex;
    flex-wrap:wrap;
} */
.shade{
    flex-direction:row;
    transition:linear 0.3s;
}
.shade:hover{
   transform:scale(120%);
   cursor:pointer;
   
}
/*copy button */

.copy-button {
display: inline-block;
padding: 10px 20px;
background-color: rgb(0, 149, 178);;
color: #fff;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
transition: all 0.3s ease-in-out;
margin-bottom: 20px;
display:none;
}
.copy-button:hover {
background-color:rgb(8, 78, 87);;
}
.copy-message {
display: none;
margin-top: 20px;
font-size: 14px;
color: rgb(72, 4, 42);;
font-weight: bold;
}
.copy-message.show {
display: block;
}
#color-code{
font-size:20px;
font-weight:bolder;
letter-spacing: 1px;

}
.accordion-container{
max-width:80%;
margin:30px auto;
font-size:2rem;
}
.accordion-button{
font-size:20px !important;
}

@media screen and (max-width:800px){
    .shade-container{
        background-size:100%;
    }
    .accordion-container{
        width:100%;
        margin:10px auto;
    }
}

/*about service */

.shade-about-container{
    /* background-color:var(--content-bg); */
    border-radius:20px;
    box-shadow:1px 1px 1px grey;
    padding:0 0 20px 0;
}
.shade-about-heading{
    text-align:center;
}

.shade-about-container.para,h1{
   padding:20px;
   margin:30px;
   letter-spacing:1px;
   font-family:verdana;
}
.para{
    font-size:30px !important;
}